@page "/success"
@using BlazorAppDataBinding2
@* Daniel added this injection so we can use everwhere in project the PersonService Object *@
@inject PersonService PersonService

<h3>Form Submitted Successfully!</h3>
<p>Here are the values submitted by you!</p>

<p>First Name: @PersonService.Person.FirstName</p>
<p>Last Name: @PersonService.Person.LastName</p>